# compose
COMPOSE_CMD="docker compose"
DB_PORT=5432
VALKEY_PORT=6379

# pgschema
PGDATABASE=postgres
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=pass
PGSCHEMA_PLAN_DB=pgschema_plan
PGSCHEMA_PLAN_HOST=${PGHOST}
PGSCHEMA_PLAN_USER=${PGUSER}
PGSCHEMA_PLAN_PASSWORD=${PGPASSWORD}

# app
HTTP_MAX_CONNECTIONS=1024
HTTP_CONNECTIONS_CHECKING_INTERVAL_MS=5000
HTTP_REQUEST_TIMEOUT_MS=10000
HTTP_KEEP_ALIVE_TIMEOUT_MS=5000
HTTP_MAX_BODY_BYTES=1048576
QUERY_MAX_DEPTH=9
QUERY_MAX_TOKENS=1000
QUERY_MAX_ALIASES=15
QUERY_MAX_COMPLEXITY=10000
RATE_LIMIT_CAPACITY=10000
RATE_LIMIT_REFILL_PER_SECOND=200
RATE_LIMIT_BUCKET_TTL_SECONDS=60
VALKEY_HOST=localhost
VALKEY_PORT=${VALKEY_PORT}
VALKEY_USE_TLS=false
DATABASE_URL=postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:${DB_PORT}/${PGDATABASE}?sslmode=disable
NODE_ENV=development
PASSWORD_HASH_MEMORY_COST=65536
PASSWORD_HASH_TIME_COST=3
PASSWORD_HASH_PARALLELISM=4
ACCESS_TOKEN_SIGNING_KEY=HMriSY7325yDltMD5/6qg0TkC+G8kkKJg/OCEeot8fA=
DOMAIN=localhost
BASE_URL=http://${DOMAIN}
PORT=4000

# signup
SIGNUP_REQUEST_RATE_LIMIT_CAPACITY=1
SIGNUP_REQUEST_RATE_LIMIT_REFILL_PER_SECOND=0.1
SIGNUP_REQUEST_RATE_LIMIT_BUCKET_TTL_SECONDS=15
SIGNUP_FORM_URL=http://${DOMAIN}:${PORT}/register
SIGNUP_EMAIL_VERIFICATION_TTL_SECONDS=86400
SIGNUP_EMAIL_VERIFICATION_SIGNING_KEY=DwuTrG7vOl35dIehOfm3ABawih/h3ltBpncjXSmggaQ=

# mailer
MAILER_TRANSPORT=console
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@example.com
